<form class="form-password-container">
  <label class="password-label" for="password">Password</label>
  <input
    placeholder="Enter your password..."
    class="password-input"
    type="password"
    id="password"
    name="password"
    [(ngModel)]="password"
    (input)="calculateStrength(); onTouch()"
  />
  <app-clear-button [showButton]="password !== ''" (clearClick)="clearPassword()"></app-clear-button>
</form>

<div class="wrapper">
  <div
    *ngFor="let strengthClass of passwordStrength; let i = index"
    class="strength-section"
    [ngClass]="getStrengthClass(i)"
  ></div>
</div>
